@model CNPMLyThuyet.Model.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PhongBanLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatBang.TenMB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatBang.TenMB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.TenNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
