@model IEnumerable<CNPMLyThuyet.Model.Tang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PhongBanLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenTang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenTang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTang }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTang })
        </td>
    </tr>
}

</table>
